# Dependencies
node_modules/

# Build output
dist/
coverage/
.angular/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
activity-log.json

# OS and editor files
.DS_Store
.idea/
.vscode/

# Environment files
.env
.env.*

# Misc
*.log